.actStatus {
    cursor: pointer;
}
.bootboxDelete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

.alert {
    padding: 6px !important;
}
.cabinet figure {
    text-align: center;
}
.old_profile_imageSub {
    max-width: 100%;
}
#upload-demo {
    height: 500px;
}
.cabinet figure {
    text-align: center;
}
.profile_image_showInput {
    margin-top: 2px;
}

/*chat page */
.chat_page .chat_list {
    border-radius: 10px;
    padding: 0;
    box-shadow: 2px 2px 4px 0 rgba(61, 61, 61, 0.3);
    background-color: #ffffff;
    margin-top: 25px;
    height: calc(50vh + 185px);
    overflow-y: auto;
}
.chat_page .chat_list .chater_list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    cursor: pointer;
}
.chat_page .chat_list .chater_list li .product-img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
}
.chat_page .chat_list .chater_list li .product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chat_page .chat_list .chater_list li .product-info {
    width: calc(100% - 60px);
    padding-left: 10px;
}
.chat_page .chat_list .chater_list li .product-info .product-title b {
    color: #000;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_page .chat_list .chater_list li .product-info .product-title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #999999;
}
.chat_page .chat_box_right {
    padding: 20px 20px 10px 20px;
    box-shadow: 2px 2px 4px 0 rgba(61, 61, 61, 0.3);
    background-color: #ffffff;
}
.chat_page .chat_box_right .msg_header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.chat_page .chat_box_right .msg_header .img_user {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}
.chat_page .chat_box_right .msg_header .img_user img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chat_page .chat_box_right .msg_header .user_name {
    width: calc(100% - 70px);
    padding-left: 15px;
    font-size: 20px;
}
.chat_page .chat_box_right #comments-container .msg + .msg {
    margin-top: 5px;
}
.chat_page .chat_box_right #comments-container .text {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.chat_page .chat_box_right #comments-container .text.to {
    justify-content: flex-end;
}
.chat_page .chat_box_right #comments-container .text p {
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    background-color: #ef4426;
    padding: 10px 15px;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 400;
    max-width: 50%;
    margin: 0 10px;
    word-break: break-all;
}
.chat_page .chat_box_right #comments-container .text div {
    margin: 0 10px !important;
}
.chat_page .chat_box_right #comments-container .text.to p {
    background-color: #eeeeee;
    color: #1b1b1b;
}
.chat_page .chat_box_right #comments-container .text .avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.chat_page .chat_box_right #comments-container .text .avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chat_page .chat_box_right #comments-container .date {
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-weight: 400;
}
.chat_page .chat_box_right #twemoji-textarea {
    margin-left: 0;
}
.chat_page .chat_box_right .submit_btn .button {
    position: absolute;
    top: -48px;
    right: 20px;
    font-weight: 400;
    background-color: #ef4426;
    padding: 0;
    line-height: 0;
}
.chat_page .chat_box_right .submit_btn .button svg {
    height: 32px;
    padding: 5px;
    fill: #fff;
}

.notifications_icon {
    height: 25px;
    width: 25px;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -12px;
    position: relative;
    color: #000;
}
.notification_detsil_count {
    background-color: green;
    color: #ffffff;
}
/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.alert-record-td {
    vertical-align: middle !important;
    text-align: left !important;
}
.alert-record-img {
    border-radius: 50%;
}
.alert-record-table {
    margin-bottom: 0 !important;
}
.datatable-row-remove .row {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.float-right {
    float: right !important;
}
.colorRed {
    color: #ea5455;
}
.widht-100 {
    width: 100%;
}
.padding-c {
    padding: 5px;
}
.intl-tel-input {
    width: 100%;
}
